@import '@styles/theme', '@styles/mixins', '@styles/animations';

.container {
  background-color: $background-light;
  min-height: $min-mobile-height;
  @include desktop {
    outline: 1px solid #{$background-secondary};
    padding-top: 14px !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.brandImg {
  margin-bottom: 1rem;
  text-align: center;
  z-index: 5;

  @include desktop {
    margin-top: 2rem;
  }

  img {
    width: 105px;
  }
}

.cardFooter {
  @include desktop {
    background-color: $background-light;
    width: 100%;
    z-index: 1;
  }
}

.swiperWrapper {
  display: block;
  padding-top: toRem(30);
  width: 100%;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  @include desktop {
    padding-top: 0;
  }
}

.swiperSlide {
  padding: 0;

  @include desktop {
    padding: 0 #{$section-horizontal-padding-desktop};
  }
}

.row {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;

  @include desktop {
    flex-direction: row-reverse;
    align-items: normal;
  }
}

.aligner {
  display: flex;
  flex-direction: column;

  .carInfo {
    padding: 0 #{$section-horizontal-padding};
    display: flex;

    @include desktop {
      width: 60% !important;
      padding: 0;
      align-self: center;

      > div {
        display: flex;
      }
    }
  }

  &.isActive {
    .right .trapezoid {
      right: calc(0% - 300px);
      opacity: 1;

      @include xl {
        right: calc(0% - 250px);
      }

      @include maxWidth {
        right: -10%;
      }
    }

    .carInfo .trapezoid {
      left: calc(0% - 200px);
      opacity: 1;
    }
  }

  .details {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20%;
    padding: 0 10px;
    margin: 2rem 0;

    @include desktop {
      padding: 0;
      min-height: 170px;
      margin: 0;
      width: 100%;
    }
  }

  .cardsDetails {
    background-color: #272727;
    height: 9em;
    margin: 0 8px;
    width: 6.5em;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include desktop {
      margin: 0 10px;
    }

    .cardsImg {
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;

      img {
        object-fit: cover; /* or object-fit: contain; */
        height: 100%;
        width: 100%;
      }
    }

    .cardsText {
      height: 3em;
      text-align: center;
      width: 100%;
      padding-top: 3px;
      padding-bottom: 5px;
      font-weight: 600;
      color: $text-light;
      display: flex;
      align-items: center;

      p {
        font-size: clamp(10px, 0.9vw, 14px);
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 30%;
    right: 0;
    position: relative;
    margin-bottom: 1rem;

    @include desktop {
      margin-bottom: 0;
    }
  }

  .subTextMobile {
    color: $text-dark;
    margin: 1.4rem 0;

    p {
      font-size: 15px;
      font-weight: 500;

      @include desktop {
        font-weight: 600;
      }

      strong {
        color: $primary;
      }
    }
  }

  @include desktop {
    .row > div {
      width: 40%;
      justify-content: center;
      align-items: flex-start;
      margin-left: 3rem;
    }
  }

  .rightBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      align-items: flex-start;
    }
  }
}

.versionText {
  color: $text-dark;
  display: flex;
  flex-direction: column;

  @include desktop {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
  }

  .subText {
    font-size: 1.2rem;
    font-weight: 500;
  }

  strong {
    color: $primary;
  }

  .versionTextlogo {
    display: flex;
    justify-content: center;

    @include desktop {
      justify-content: flex-start;
    }

    h2 {
      color: $primary;
      margin-left: 10px;
      font-size: 25px;

      @include desktop {
        padding-top: 6px;
        font-size: 1.4rem;
      }
    }

    img {
      object-fit: contain;
      max-width: 80px;
    }
  }
}

.versionTextName {
  text-align: center;
  font-size: clamp(2rem, 10vw, 3.5rem);
  color: #272727;
  margin-top: 5px;

  @include desktop {
    //font-size: clamp(2rem, 5.2vw, 3.5rem);
    font-size: clamp(4.6rem, 10vw, 3.1rem);
    text-align: left;
    margin-top: 0;
  }
}

.trapezoid {
  margin-top: toRem(32);
  height: calc(100% - 60px);
  width: auto;
}

.previous {
  position: absolute !important;
  left: 10px;
  top: calc(28% - 120px);
  z-index: 4;
  width: 12% !important;
  height: 5% !important;

  @include desktop {
    left: 30px;
    top: calc(49% - 120px);
    width: 3.5rem !important;
    height: 4rem !important;
  }
}

.next {
  position: absolute !important;
  right: 10px;
  top: calc(28% - 120px);
  z-index: 4;
  width: 12% !important;
  height: 5% !important;

  @include desktop {
    right: 30px;
    top: calc(49% - 120px);
    width: 3.5rem !important;
    height: 4rem !important;
  }
}

.buttonHolder {
  width: 100%;
  padding-right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: toRem(56);

  @include desktop {
    justify-content: normal;
    align-items: unset;
    padding-right: 8px;
  }
}

.cta {
  margin-bottom: toRem(12);
  padding: 0 1rem;
  width: 23.5rem !important;
  color: $text-button;

  p {
    color: $text-button !important;
  }

  @include desktop {
    width: 22.7rem !important;
    padding-left: 0.5rem;
    padding-right: 0;
  }

  p:last-child {
    border-color: $text-secondary;
  }

  > div {
    padding: 0.8rem 1.2rem;
    color: $text-button;
  }

  p {
    font-size: clamp(
      #{toRem(18)},
      1.6vw,
      #{toRem(22)}
    ) !important;
    font-weight: 600;
    margin-right: clamp(70px, 8vw, 100px);
    color: $text-button;
  }
}

.swiperSlideMobile {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    padding-bottom: 35px;
    padding-right: 0;
    padding-left: 0;
    margin-right: 12px;

    picture {
      max-width: 175px;
    }
  }

  &:last-of-type {
    margin-right: 20vw;
  }
}

.thumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: toRem(26);
  padding: 0 $section-horizontal-padding;
  position: relative;
  z-index: 1;
  margin-bottom: 4rem;

  @include desktop {
    padding: 0 clamp(20px, 2vw, 90px);
    margin-bottom: 4rem;
  }

  @include xl {
    padding: 0 $section-horizontal-padding-desktop;
  }

  &.mobile {
    padding: 0 0 4px;
  }

  button {
    @include desktop {
      margin-right: toRem(16);
    }

    @include xl {
      margin-right: toRem(30);
    }

    &:focus-visible {
      outline: $text-secondary double 2px;
      outline-offset: toRem(10);
    }

    .activeBg {
      position: absolute;
      background-color: transparent;
      border-radius: 50%;
      z-index: -1;
      margin-top: 50px;
      margin-left: 6px;

      @include desktop {
        margin-top: 70px;
        margin-left: 15px;
      }
    }

    &.active {
      .activeBg {
        background-color: $primary;
      }

      .name {
        color: $text-button;
        font-weight: 600;
        font-size: 1.5rem;
      }
    }

    &:hover,
    &:focus-visible {
      .name {
        text-decoration: underline;
      }
    }

    p {
      color: $primary;
      line-height: toRem(38);
      white-space: nowrap;
      position: relative;
      font-size: 20px;
      font-weight: 500;

      .name {
        display: block;
        transition: all $transition-time-quick $transition-easing;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
      }
    }
  }
}

.versionName {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: clamp(20px, 2vw, 50px);

  p {
    color: $text-secondary;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    font-size: clamp(1.7rem, 8vw, #{toRem(64)});
    white-space: nowrap;
  }
}

.productImageContainer {
  min-height: 210px;
}

.thumbImageContainer {
  aspect-ratio: 3 / 2 !important;
  padding-top: 7%;
  min-height: 88px;
}

.productImage {
  position: relative;
  transition-property: all;
  transition-duration: $transition-time-quick;
  transition-timing-function: $transition-easing;
  opacity: 0 !important;
  left: 320px;
  z-index: 2;

  &.isVisible {
    opacity: 1 !important;
    left: 0;
  }
}

.scrollCta {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: $text-secondary;
  padding-top: 14px;
  z-index: 2;

  svg {
    margin-top: 9px;
    @include animationMargin;
  }
}
