.Container {
  background-color: #3f3b39;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: baseline;
  justify-content: center;

  @media screen and (max-width: 768px) {
    height: auto;

    padding: 40px 0;
  }
}

.Content {
  background-image: linear-gradient(to bottom, #726a6a, #504c4a, #3f3b39);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    width: 100%;
  }
}

.Text {
  color: #fff;
  font-size: 16px;
  padding-left: 150px;
  font-weight: 900 !important;

  @media screen and (max-width: 768px) {
    padding-top: 40px;
    padding: 40px 100px 0;
    font-size: 19px;
    margin: auto;
  }
}

.Stamps {
  img {
    width: 100%;
    height: auto;
    //max-width: 40%;
    size-adjust: scale(0.9, 0.9);
    @media screen and (max-width: 768px) {
      padding-top: 25%;
    }
  }
  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
