// Colors  -------------------------------------------------------------------- /
$main: #838e65;
$jeep: #575757;
$text: #393636;
$menuText: #3d3d3d;
$subtitle: #6e6666;
$nav-dots: #cccdce;
$contrast: #fff;
$bgInfo: #3f3b39;
$bg: #fff;
$infoHighlight: #acbf77;
$grayBackground: #ebecee;

// Fonts -------------------------------------------------------------------- /
$font-default: NextPro, Verdana, sans-serif;
$font-size-default: 16px;
