$cyan: #91d1db;
$pink: #ff8094;
$purple: #343285;
$white: #EDEDE4;
$grayLight: #CCCCC3;
$grayMedium: #707070;
$gray878: #878781;
$grayDark: #0E0E0E;
$red: #AA213F;
$grayClear: #303030;
$brown362: #362f2d;
$brown322: #322b29;
$brown2B2: #2b2523;
$orangeA13: #a13f22;
$orangeBF4: #bf4b28;
$cream: #fff4eb;
$yellow: #FCAF2F;
$gray: #EDEDE3;
$creamEAE: #eae0d7;
$creamD6C: #d6ccc4;
$white: #fff;
$black: #0E0E0E;
$error: #ff1430;

$color--primary: $grayClear;
$color--secondary: $yellow;
$color--support: $gray;

$book: "Futura PT Book";
$light: "DINPro Light";
$regular: "DINPro Regular";
$medium: "DINPro Medium";
$bold: "DINPro Bold";
$blackFont: "DINPro Black";