@use "../../styles/variables" as var;
@use "../../styles/mixins" as mixin;

$ww: 1920;

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(43, 38, 35, 0.8);


  .close {
    width: mixin.calcSizeVw(20, $ww);
    background-color: transparent;
    border: none;
    position: absolute;
    z-index: 1;
    right: mixin.calcSizeVw(15, $ww);
    top: mixin.calcSizeVw(15, $ww);
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .container {
    width: mixin.calcSizeVw(880, $ww);
    position: relative;
    background-color: #FEF4EB;
    padding: mixin.calcSizeVw(50, $ww) mixin.calcSizeVw(80, $ww);

    &.containerFeedback {
      &::before,
      &::after {
        display: none;
      }

      width: mixin.calcSizeVw(590, $ww);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: mixin.calcSizeVw(50, $ww);

      .icon {
        width: mixin.calcSizeVw(73, $ww);
        display: inline-block;
        margin-right: mixin.calcSizeVw(40, $ww);
      }

      h3 {
        margin-top: 0;
        text-align: left;
        color: #A13F22 !important;

        span {
          font-family: var.$regular;
          font-size: mixin.calcSizeVw(19, $ww);
          line-height: mixin.calcSizeVw(14, $ww);
          color: #2B2623 !important;
          font-weight: 400;
        }
      }

      &.success {
        h3 {
          color: #2B2623;
        }
      }

      &.error {
        background-color: #A13F22;

        h3 {
          color: #FEF4EB !important;

          span {
            color: #FEF4EB !important;
          }
        }
      }
    }

    h3,
    p {
      color: var.$white;
    }

    h3 {
      font-family: var.$blackFont;
      color: var.$orangeA13;
      font-weight: 900;
      font-size: 24px;
      line-height: 31px;
      text-align: center;
    }

    p {
      font-family: var.$regular;
      font-size: mixin.calcSizeVw(16, $ww);
      line-height: mixin.calcSizeVw(18, $ww);
      font-weight: 500;
      text-align: center;
      margin-top: mixin.calcSizeVw(7, $ww);
    }
  }
}

@media only screen and (max-width: 1360px) {
  $ww: 1360;

  .modal {
    .close {
      right: mixin.calcSizeVw(15, $ww);
      top: mixin.calcSizeVw(15, $ww);
    }
  
    .container {
      width: mixin.calcSizeVw(880, $ww);
      padding: mixin.calcSizeVw(50, $ww) mixin.calcSizeVw(80, $ww);
  
      &.containerFeedback {
        width: mixin.calcSizeVw(590, $ww);
        padding: mixin.calcSizeVw(50, $ww);

        .icon {
          width: mixin.calcSizeVw(73, $ww);
          margin-right: mixin.calcSizeVw(40, $ww);
        }

        h3 {
          span {
            font-size: mixin.calcSizeVw(19, $ww);
            line-height: mixin.calcSizeVw(14, $ww);
          }
        }
      }
  
      &:after {
        content: "";
        bottom: mixin.calcSizeVw(-10, $ww);
        right: mixin.calcSizeVw(-10, $ww);
      }
  
      h3 {
        font-size: mixin.calcSizeVw(18, $ww);
        line-height: mixin.calcSizeVw(24, $ww);
      }
  
      p {
        font-size: mixin.calcSizeVw(16, $ww);
        line-height: mixin.calcSizeVw(18, $ww);
        margin-top: mixin.calcSizeVw(7, $ww);
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  $ww: 1100;
  
  .modal {
    .close {
      right: mixin.calcSizeVw(15, $ww);
      top: mixin.calcSizeVw(15, $ww);
    }
  
    .container {
      width: mixin.calcSizeVw(880, $ww);
      padding: mixin.calcSizeVw(50, $ww) mixin.calcSizeVw(80, $ww);
  
      &.containerFeedback {
        width: mixin.calcSizeVw(590, $ww);
        padding: mixin.calcSizeVw(50, $ww);

        .icon {
          width: mixin.calcSizeVw(73, $ww);
          margin-right: mixin.calcSizeVw(40, $ww);
        }

        h3 {
          span {
            font-size: mixin.calcSizeVw(19, $ww);
            line-height: mixin.calcSizeVw(14, $ww);
          }
        }
      }
  
      &:after {
        content: "";
        bottom: mixin.calcSizeVw(-10, $ww);
        right: mixin.calcSizeVw(-10, $ww);
      }
  
      h3 {
        font-size: mixin.calcSizeVw(18, $ww);
        line-height: mixin.calcSizeVw(24, $ww);
      }
  
      p {
        font-size: mixin.calcSizeVw(16, $ww);
        line-height: mixin.calcSizeVw(18, $ww);
        margin-top: mixin.calcSizeVw(7, $ww);
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  .modal {
    overflow: auto;
    align-items: flex-start;

    .close {
      right: 15px;
      top: 15px;
      width: 15px;
    }

    h3 {
      margin-top: 20px;
    }

    .container {
      width: calc(100% - 40px);
      padding: 30px 20px;
      margin: 30px 0;

      &.containerFeedback {
        width: calc(100% - 20px);
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .icon {
          width: 50px;
          margin-right: 0;
          margin-bottom: 10px;
        }

        h3 {
          text-align: center;

          br:not(:first-child) {
            display: none;
          }

          span {
            font-size: 16px;
            line-height: 1;
            text-align: left;
          }
        }
      }

      &:after {
        content: "";
        bottom: -10px;
        right: -10px;
      }

      h3 {
        font-size: 22px;
        line-height: 26px;
        text-align: left;
      }

      p {
        font-size: 18px;
        line-height: 24px;
        margin-top: 5px;
        text-align: left;
      }
    }
  }
}
