@font-face {
  font-family: 'NextPro';
  src: url('DINNextLTPro-Light.eot');
  src: url('DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'),
    url('DINNextLTPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NextPro';
  src: url('DINNextLTPro-Italic.eot');
  src: url('DINNextLTPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('DINNextLTPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NextPro';
  src: url('DINNextLTPro-Regular.eot');
  src: url('DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('DINNextLTPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NextPro';
  src: url('DINNextLTPro-MediumItalic.eot');
  src: url('DINNextLTPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('DINNextLTPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NextPro';
  src: url('DINNextLTPro-Bold.eot');
  src: url('DINNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('DINNextLTPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
