a.whatsapp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #26d366;
  position: fixed;
  bottom: 80px;
  right: 15px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

  img {
    width: 33px;
    height: 46px;
  }
}


@media only screen and (max-width: 770px) {
  a.whatsapp {
    bottom: 30px;

    &.show {
      bottom: 80px;
    }
  }
}