footer.footer-main {
  background-image: url('/static/images/footer/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 23px 0 130px;
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    li {
      padding-right: 43px;
      svg {
        transform-origin: center;
        transition: all 0.2s linear;
        fill: #fff;
        &:hover {
          fill: #eadfd3;
          transform: scale(1.15);
        }
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
  min-height: 38vh;

  @media screen and (min-width: 1024px) {
    min-height: 20vh;
    padding: 42px 0 120px;
    background-image: url('/static/images/footer/bg@2x.jpg');
  }
}
